.form-review{
    &__textarea{
        max-width: 710px;
        margin-bottom: 30px;
    }
}

@media (width: 360px) {
    .form-review{
        &__textarea{
            margin-bottom: 20px;
        }
    }
}