.description{
    &__text + &__text{
        padding-top: 15px;
    }
}

@media (width: 360px) {
    .description{
        &__text{
            font-size: 14px;
            line-height: 17px;
        }
    }
}