.reviews{
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}

@media (width: 360px) {
    .reviews{
        &__top{
            margin-bottom: 20px;
        }
    }
}