@media (max-width: 1160px) {
    .review{
        &__img{
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 980px) {
    .review{
        &__img{
            width: 80px;
            height: 80px;
        }
    }
}

