@import "_hover/price__button_hover";

.price{
    &__button{
        background: #F36223;
        padding: 20px 5px;
        max-width: 100%;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
    }
}