.price{
    &__button{
        background: #F36223;
        padding: 20px 49px;
        width: 380px;
        height: 64px;
        color: #FFFFFF;
        font-size: 400px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
    }
}