.form-review{
    &__input-text{
        width: 494px;
        height: 49px;
    }
}

.form-review{
    &__input-text::placeholder{
        color: #888888;
        padding: 15px 0 0 20px;
    }
}

@media (max-width: 1160px) {
    .form-review {
        &__input-text {
            width: 378px;
        }
    }
}

@media (max-width: 980px) {
    .form-review {
        &__input-text {
            width: 310px;
        }
    }
}

@media (max-width: 540px) {
    .form-review {
        &__input-text {
            width: 335px;
            margin-bottom: 10px;
        }
    }
}

