@import "./__block/content-text__block";
@import "./__paragraph/content-text__paragraph";
@import "./__link/content-text__link";

.content-text {
    height: 1365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}