.form-review{
    &__input-number {
        width: 175px;
        height: 49px;
        margin: 0 0 30px 36px;
    }
}

.form-review {
    &__input-number::placeholder {
        color: #888888;
        padding: 15px 0 0 20px;
    }
}

@media (max-width: 980px) {
    .form-review {
        &__input-number {
            width: 129px;
        }
    }
}

@media (max-width: 540px) {
    .form-review {
        &__input-number {
            width: 335px;
            margin: 0 0 10px 0;
        }
    }
}