.header {
    &__heart::after {
        content: "12";
        position: relative;
        top: -22px;
        right: 20px;
        font-size: 14px;
        line-height: 14px;
        width: 26px;
        height: 20px;
        background: #F36223;
        padding: 3px 5px;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
    }
}

.header {
    &__heart {
        position: relative;
        top: 0px;
        right: -18px;
    }
}

@media (width: 360px) {
    .header {
        &__heart {
            width: 26px;
        }
    }
}

