.color{
    &__img {
        min-width: 31px;
        height: 60px;
        object-fit: cover;
    }
}

@media (width: 360px) {
    .color{
        &__img{
            width: 25px;
            height: 50px;
        }
    } 
}