.color__button {
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 980px) {
    .color__button {
        width: 60px;
        height: 60px;
    }
}

@import "_hover/color__button_hover";
@import "_active/color__button_active";
