@import "__inner/characteristics__inner";
@import "__top/characteristics__top";
@import "__color/characteristics__color";
@import "__memory/characteristics__memory";
@import "__goods/characteristics__goods";
@import "__description/characteristics__description";
@import "__table/characteristics__table";
@import "__sidebar/characteristics__sidebar";

.characteristics {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

@media (max-width: 1160px) {
    .characteristics {
        gap: 40px;
    }
}

@media (max-width: 980px) {
    .characteristics {
        gap: 28px;
    }
}

@media (max-width: 768px) {
    .characteristics {
        display: flex;
        flex-direction: column-reverse;
        gap: 0; 
    }
}