.form-review {
    &_padding {
        padding: 60px 0 60px 170px;
    }
}

@media (max-width: 1160px) {
    .form-review {
        &_padding {
            padding: 60px 0 60px 0px;
        }
    }
}

@media (max-width: 540px) {
    .form-review {
        &_padding {
            padding: 40px 0 40px 0px;
        }
    }
}