.header {
    &__basket::after {
        content: "3";
        position: relative;
        top: -25px;
        right: 20px;
        font-size: 14px;
        line-height: 14px;
        background: #F36223;
        padding: 3px 5px;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
    }
}

.header {
    &__basket {
        position: relative;
        top: 0;
        right: -18px;
    }
}

@media (max-width: 540px) {
    .header {
        &__basket {
            position: relative;
            top: 0;
            right: -8px;
        }
    }
}

@media (max-width: 540px) {
    .header {
        &__basket::after {
            content: "";
            position: relative;
            top: -19px;
            right: 8px;
            font-size: 0;
            line-height: 0;
            padding: 5px 5px;
        }
    }
}

