@media (max-width: 1160px) {
    .review{
        &__img{
            width: 100px;
            height: 100px;
        }
    }
}

@media (width: 360px) {
    .review{
        &__img{
            width: 60px;
            height: 60px;
        }
    }
}