.reviews{
    &__number{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #888888;
        margin-right: auto;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-right: 10px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}