.iphone{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__img{
        max-height: 400px;
    }
}

@media (width: 1024px){
    .iphone{
        &__img{
            max-width: 214px;
            max-height: 272px;
        }
    }
}