.footer{
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 110px;
    }
}

@media (max-width: 768px) {
    .footer{
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }
    }
}
