.footer{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (width: 360px) {
    .footer{
        &__inner{
            display: block;
        }
    }
}