.review{
    &__star{
        height: 30px;
        width: 30px;
    }
}

@media (width: 1024px) {
    .review{
        &__star{
            height: 20px;
            width: 20px;
        }
    }
}

@media (width: 360px) {
    .review{
        &__star{
            height: 20px;
            width: 20px;
        }
    }
}