.form-review{
    &__textarea-box{
        width: 710px;
        height: 190px;
    }
}

.form-review{
    &__textarea-box::placeholder{
        color: #888888;
        padding: 15px 0 0 20px;
    }
}

@media (max-width: 1160px) {
    .form-review {
        &__textarea-box {
            width: 594px;
        }
    }
}

@media (width: 360px) {
    .form-review {
        &__textarea-box {
            max-width: 335px; 
        }
    }
}