.characteristics {
    &__reviews {
        padding-top: 65px;
    }
}

@media (width: 360px) {
    .characteristics {
        &__reviews {
            padding-top: 40px;
            max-width: 335px;
        }
    }
}