.price{
    &__text{
        font-weight: 400;
        span{
        font-weight: 700;
        }
    }
    &__text + &__text{
        padding-top: 10px;
    }
}

@media (max-width: 980px) {
    .price{
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            span{
            font-weight: 700;
            }
        }
        &__text + &__text{
            padding-top: 5px;
        }
    }
}

@media (max-width: 768px) {
    .price {
        &__text{
            font-weight: 400;
            span{
            font-weight: 700;
            }
        }
        &__text + &__text{
            padding-top: 10px;
        }
    }
}
